<div class="jumbotron">
    <h1 class="display-3">BooksApp</h1>
    <p class="lead">{{ capitalizar 'aprendiendo node con typescript y handlebar' }}</p>
    <hr class="my-2">
    <p>Más info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div>