<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <title>TsNode App - {{title}}</title>
</head>

<body>

    {{> navigation }}

    <div class="container-fluid mt-3" style="margin-bottom: 350px;">
        {{{ body }}}
    </div>

    {{> footer }}

</body>

</html>